<template lang="">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Products Buy More</h4>
                        <div class="latest-product__slider owl-carousel" >
                            <div class="latest-prdouct__slider__item">
                                <a href="#" class="latest-product__item" v-for="(product, index) in products" :key="index">
                                    <div class="latest-product__item__pic">
                                        <img :src="product.url">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{product.price}}</h6>
                                        <span>${{product.price}}</span>
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
</template>
<script>


export default {
    name: 'ProductBuyMore',
    data() {
        return {
            products: [
                {
                    url: 'assets/img/latest-product/lp-1.jpg',
                    name: 'Crab Pool Security',
                    price: 3000
                }
            ]
        }
    }
}
</script>
<style lang="">
    
</style>