<template>
  <div class="home">

    <HomeProduct></HomeProduct>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeProduct from '@/components/HomeProduct.vue'

export default {
  name: 'Home',
  components: {
    HomeProduct
  }
}
</script>
