<template lang="">
    <div class="hero__categories" v-if="categories.length !== 0">
        <div class="hero__categories__all" >
            <i class="fa fa-bars"></i>
            <span>All departments</span>
        </div>
        <ul>
            <li v-for="category in categories" :key="category.id">
                <a href="#">{{category.categoryName}}</a>
            </li>
        </ul>
    </div>
</template>
<script>


export default {
  name: 'CategoryProduct',

  props: ["categories"],
  computed: {
    
  },

  methods: {
    
  }
}
</script>
<style lang="">
    
</style>