<template lang="">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3" v-for="(category,index) in categories" :key="index">
                        <div class="categories__item set-bg" :data-setbg= "category.url">
                            <h5><a href="#">{{category.category}}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>

export default {
    name: 'CategoryProductImage',
    data() {
        return {
            categories: [
                {
                    category: 'Fresh Fruit',
                    url: 'assets/img/categories/cat-1.jpg'
                },
                {
                    category: 'Fresh Fruit',
                    url: 'assets/img/categories/cat-2.jpg'
                },
                {
                    category: 'Fresh Fruit',
                    url: 'assets/img/categories/cat-3.jpg'
                },
                {
                    category: 'Fresh Fruit',
                    url: 'assets/img/categories/cat-4.jpg'
                },
                {
                    category: 'Fresh Fruit',
                    url: 'assets/img/categories/cat-5.jpg'
                },

            ]
        }
    }
}
</script>

<style lang="">
    
</style>