<template lang="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".oranges">Oranges</li>
                            <li data-filter=".fresh-meat">Fresh Meat</li>
                            <li data-filter=".vegetables">Vegetables</li>
                            <li data-filter=".fastfood">Fastfood</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter" v-if="products.length > 0">
                <ProductCart v-for="product in products" :key="product.id" 
                :product="product"
                v-on:view-detail="$emit('view-detail')"
                v-on:get-product="$emit('get-product', product.id)">
                </ProductCart>
            </div>
        </div>
</template>
<script>
import ProductCart from "./ProductCart.vue"


export default {
    name: 'NewsProduct',
    components: {
        ProductCart
    },
    props: ["products"],
    computed: {
        
    },

    mounted() {

    },

    methods: {        
    }
}
</script>
<style lang="">
    
</style>