<template lang="">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="featured__item">
            <div class="featured__item__pic set-bg" :data-setbg= "product.image">
                <ul class="featured__item__pic__hover">
                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
            <div class="featured__item__text">
                    <h6>
                        <a href="#" @click.prevent="$emit('view-detail') && $emit('get-product', product.id)">
                        {{product.nameProduct}}
                        </a>
                    </h6>
                <h5>${{product.price}}</h5>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ["product"],
    data() {
        return{
        }
    },
    methods: {
    }
}
</script>
<style lang="">
    
</style>